---
import Entries from "./Entries.astro";

const { categories } = await Astro.props;
---

<nav id="categories">
  {
    categories.map((category) => (
      <>
        <div class="category">{category.name}</div>

        <!-- Note: here we need the !== check, otherwise the length number will be rendered (?) -->
        {category.categories?.length !== 0 && (
          <div class="subcategory">
            {category.categories.map((subCategory) => (
              <>
                <div class="category">{subCategory.name}</div>

                {subCategory.entries && (
                  <Entries entries={subCategory.entries} />
                )}
              </>
            ))}
          </div>
        )}

        {category.entries && (
          <Entries entries={category.entries} />
        )}
      </>
    ))
  }
</nav>

<style is:global>
  @import "./categories.css";
</style>

<script>
  import "./categories.js";
</script>
