---
import { readdir } from "node:fs/promises";
import LayoutMain from "../layouts/Main.astro";
import getFullPath from "../lib/get-full-path.mjs";
import parseXML from "../lib/parse-xml.mjs";

const { entryName } = Astro.params;
const xmlPath = getFullPath(`api.jquery.com/entries/${entryName}.xml`);
const $xml = await parseXML(xmlPath);

export async function getStaticPaths() {
  const entriesPath = getFullPath("api.jquery.com/entries");
  const entriesFiles = await readdir(entriesPath);

  return entriesFiles.map((entryFile) => {
    return { params: { entryName: entryFile.replace(".xml", "") } };
  });
}
---

<LayoutMain>
  <h1 class="title">{entryName}</h1>

  <div>
    {$xml.find("entry").attr("type")}
  </div>

  <div class="content">
    <Fragment set:html={$xml.find("longdesc").html()} />
  </div>

  <script>
    import $ from "jquery";

    $(() => {
      console.log("loaded");
    });
  </script>
</LayoutMain>
