---
import LayoutMain from "../layouts/Main.astro";
import { version } from "../../package.json";

const title = "jQAPI - Alternative jQuery Documentation Browser";
---

<LayoutMain title={title}>
  <div id="entry">
    <ul id="entry-nav">
      <li>
        <a href="#what">
          <span>What is this?</span>
        </a>
      </li>
      <li>
        <a href="#history">
          <span>History</span>
        </a>
      </li>
      <li>
        <a href="#built">
          <span>Built with</span>
        </a>
      </li>
      <li>
        <a href="#license">
          <span>License</span>
        </a>
      </li>
      <li>
        <a href="#changelog">
          <span>Changelog</span>
        </a>
      </li>
      <li class="right original">
        <a href="https://api.jquery.com">
          <span>&#129133; api.jquery.com</span>
        </a>
      </li>
      <li class="right original">
        <a href="https://github.com/jqapi/jqapi">
          <span>&#129133; github.com/jqapi/jqapi</span>
        </a>
      </li>
    </ul>

    <div id="entry-content">
      <section class="section">
        <h1 class="title is-2">jQAPI <span>{version}</span></h1>
        <h2 class="subtitle is-5">Alternative jQuery Documentation Browser</h2>

        <div id="description">
          <h4 class="title is-4" id="what">What is this?</h4>

          <div class="columns">
            <div class="column is-8 content">
              <p>
                This is a alternative interface to browse the
                <a href="https://api.jquery.com"
                  >Official jQuery Documentation</a
                >. It was created to get out of your way of your development
                work - quickly find what you are looking for, easy on the eyes,
                and lightning fast. <strong
                  >Just start typing and see for yourself!</strong
                >
              </p>

              <h4 class="title is-4" id="history">History</h4>
              <p>
                The first jQAPI came to be in 2010, heavily inspired by the
                similar RailsAPI (now defunct), a alternative interface to
                browse the Ruby on Rails Documentation. The very first version
                was hacked together in a weekend, and since people were really
                digging it, a more stable version followed quickly.
              </p>
              <p>
                In 2013 I revamped jQAPI once again, and it has been online ever
                since. These fine folks supported the development back then via
                crowdfunding:
              </p>
              <p class="crowd">
                <a href="http://cubixcloud.com/">Joseph Huckaby</a>, <a
                  href="http://glasspear.ca/">Rory Craig-Barnes</a
                >, <a href="https://www.nathanntg.com/">Nathan Perkins</a>,
                <a href="http://tobias-otte.de/">Tobias Otte</a>, <a
                  href="https://acf.ws/">Alan Faubert</a
                >, <a href="https://alexkulikov.com/">Alex Kulikov</a>, <a
                  href="https://danawoodman.com/">Dana Woodman</a
                >, <a href="http://edibleexperiences.com/"
                  >Roman Amir Shamsuddin</a
                >, David Corbacho, Josh Pangell, Andrew Hahn, Yoren Chang,
                codeworxx, Steven Olsen, Brock Adams, Simen Svale, Skogsrud
                Mironov, Mikhail Geoffrey, Doret Johan Hermansson, and Tim
                Osborn
              </p>
              <p>
                Starting 2023, the site went down for a period of time, due to
                hosting migration. People started messaging me what's up, and
                how they could help to bring it back online. Inspired by the
                fact that people still use a project that I started 13 years
                ago, I coded the next version of jQAPI, the one you see here.
              </p>
              <p>
                I hope you like it! If you find any bugs or want to make feature
                suggestions, head over to the <a
                  href="https://github.com/jqapi/jqapi/issues">GitHub Issues</a
                >. Pull requests are welcome as well. Cheers!
              </p>
            </div>

            <div class="column">
              <h6 class="title is-6 has-text-centered">Sponsored by</h6>

              <p class="has-text-centered">
                <a href="http://hashrocket.com">
                  <img src="/hashrocket.png" alt="Sponsored by Hashrocket" />
                </a>
              </p>

              <p class="has-text-centered">
                <a href="http://mdtm.pl/LWGfWR">
                  <img src="/mt.gif" alt="Sponsored by MediaTemple" />
                </a>
              </p>
            </div>
          </div>

          <div class="columns content">
            <div class="column">
              <h4 class="title is-4" id="built">Built with</h4>

              <p>
                <a href="https://jquery.com">jQuery</a>, <a
                  href="https://github.com/jquery/api.jquery.com"
                  >jQuery Documentation</a
                >, <a href="https://astro.build/">Astro</a>, <a
                  href="https://bulma.io/">Bulma</a
                >, <a href="https://prettier.io/">Prettier</a>, <a
                  href="https://prismjs.com/">Prism</a
                >, <a
                  href="https://github.com/jqapi/jqapi/blob/master/package.json"
                  >And more...</a
                >
              </p>
            </div>

            <div class="column">
              <h4 class="title is-4" id="license">License</h4>

              <p>
                <a href="https://jquery.com">jQuery</a> and its documentation is
                licensed under the <a href="http://jquery.org/license/"
                  >MIT & GPL licenses</a
                >.
              </p>
              <p>
                jQAPI is <a href="https://github.com/jqapi/jqapi">Open-Source</a
                > and running under the same <a
                  href="https://github.com/jqapi/jqapi/blob/master/LICENSE"
                  >licenses</a
                >. jQAPI is coded by <a href="http://mustardamus.com"
                  >Sebastian Senf</a
                >. Follow me at <a href="https://twitter.com/mustardamus"
                  >@mustardamus</a
                >.
              </p>
            </div>

            <div class="column">
              <h4 class="title is-4" id="changelog">Changelog</h4>

              <p>bla</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</LayoutMain>

<script>
  import $ from "jquery";

  $(() => {
    $("#search input").focus();
  });
</script>
