---
const { entries } = await Astro.props;

function cleanDesc(desc) {
  const length = 50;
  let text = desc.replace(/<\/?[^>]+(>|$)/g, "");

  if (text.length > length) {
    text = `${text.substr(0, length)}...`;
  }

  return text;
}
---

<ul class="entries">
  {
    entries.map((entry) => (
      <li>
        <a href={`/${entry.path}`}>
          <span>{entry.name}</span>
          <span>{cleanDesc(entry.desc)}</span>
        </a>
      </li>
    ))
  }
</ul>

<script>
  import $ from "jquery";
  import bindEntryLinks from "../lib/bind-entry-links.mjs";
  import loadContent from "../lib/load-content.mjs";
  import scrollToSelectedEntry from "../lib/scroll-to-selected-entry.mjs";

  $(() => {
    const $categories = $("#categories");
    const $sidebar = $("#sidebar");

    window.onpopstate = (event) => {
      let $toScroll = $categories;
      let href = location.pathname;

      loadContent(href, false);
      $(".active", $sidebar).removeClass("active");
      $(".selected", $sidebar).removeClass("selected");

      const $next = $(`a[href="${href}"]`, $sidebar)
        .filter(function () {
          return $(this).parent().parent().is(":visible");
        })
        .first()
        .parent();

      if (!$categories.is(":visible")) {
        $toScroll = $("#results");
      }

      $next.addClass("active selected");
      scrollToSelectedEntry($toScroll, $next);
    };

    bindEntryLinks($categories);
  });
</script>

<style is:global>
  .entries {
    display: none;
  }

  .entries li {
    background: white;
    line-height: 16px;
  }

  .entries li:nth-child(even) {
    background: #edf3fe;
  }

  .entries li a {
    display: block;
    padding: 5px 0 6px 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .entries li a span {
    display: block;
  }

  .entries li a span:first-child {
    color: #222;
    transition: all 0.1s ease;
  }

  .entries li a span:last-child {
    width: 1000px;
    font-size: 0.78em;
    color: #888;
    padding-top: 2px;
  }

  .entries li:hover,
  .entries li.selected {
    background: #6ea8ff;
  }

  .entries li:hover a span:first-child,
  .entries li.selected a span:first-child {
    color: #111;
  }

  .entries li:hover a span:last-child,
  .entries li.selected a span:last-child {
    color: #eee;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }

  .entries li.active {
    background: #3385f7;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }

  .entries li.active a span:first-child {
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }

  .entries li.active a span:last-child {
    color: #eee;
  }
</style>
