---
const { entries } = await Astro.props;
---

<ul class="entries">
  {
    entries.map((entry) => (
      <li>
        <a href={`/${entry.name}`}>
          <span>{entry.name}</span>
          <span>{entry.desc.substr(0, 100)}...</span>
        </a>
      </li>
    ))
  }
</ul>

<script>
  import $ from "jquery";

  $(() => {
    const $content = $("#content");

    $(".entries a").click(function () {
      const $a = $(this);
      const href = $a.attr("href");

      $(".entries li.active").removeClass("active");
      $("#sidebar .selected").removeClass("selected");
      $a.parent().addClass("active selected");

      $content.load(`${href} #content > *`, () => {
        window.history.pushState({}, "", href);
        window.scrollTo(0, 0);
      });

      return false;
    });
  });
</script>

<style is:global>
  .entries {
    display: none;
  }

  .entries li {
    background: white;
    border-bottom: 1px solid #eee;
    line-height: 1;
  }

  .entries li:nth-child(even) {
    background: #edf3fe;
  }

  .entries li a {
    display: block;
    padding: 5px 0 6px 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .entries li a span {
    display: block;
  }

  .entries li a span:first-child {
    color: #222;
    transition: all 0.1s ease;
  }

  .entries li a span:last-child {
    width: 1000px;
    font-size: 0.78em;
    color: #888;
    padding-top: 2px;
  }

  .entries li:hover,
  .entries li.selected {
    background: #6ea8ff;
  }

  .entries li:hover a span:first-child,
  .entries li.selected a span:first-child {
    color: #111;
  }

  .entries li:hover a span:last-child,
  .entries li.selected a span:last-child {
    color: #eee;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }

  .entries li.active {
    background: #3385f7;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #247ef4;
  }

  .entries li.active a span:first-child {
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }

  .entries li.active a span:last-child {
    color: #eee;
  }
</style>
