---
const title = `ESC    = Focus search input if unfocused
ESC   = Clear search input if focused
UP    = Select previous item
DOWN  = Select next item
ENTER = Toggle if category selected
ENTER = Navigate to page if entry selected`;
---

<div id="keyboard">
  <svg viewBox="0 0 512 512">
    <g>
      <g>
        <path
          d="M489.423,211.254H261.327v-28.946c0-6.19,1.221-12.219,3.638-17.92c2.417-5.693,5.903-10.762,10.34-15.063l0.791-0.75
			c5.471-5.299,9.766-11.548,12.739-18.557c2.98-7.025,4.485-14.456,4.485-22.075V78.989h-10.634v28.951
			c0,6.188-1.231,12.214-3.648,17.912c-2.409,5.699-5.901,10.767-10.348,15.073l-0.771,0.742
			c-5.484,5.304-9.774,11.548-12.751,18.57c-2.975,7.02-4.493,14.444-4.493,22.07v28.946H22.582C10.161,211.254,0,221.409,0,233.825
			v176.609c0,12.416,10.161,22.577,22.582,22.577h466.842c12.419,0,22.577-10.163,22.577-22.577V233.825
			C512,221.409,501.839,211.254,489.423,211.254z M200.568,255.665c0-2.906,2.368-5.279,5.271-5.279h25.316
			c2.906,0,5.279,2.373,5.279,5.279v25.316c0,2.906-2.373,5.281-5.279,5.281h-25.316c-2.901,0-5.271-2.376-5.271-5.281V255.665z
			 M146.744,255.665c0-2.906,2.383-5.279,5.284-5.279h25.324c2.9,0,5.271,2.373,5.271,5.279v25.316c0,2.906-2.368,5.281-5.271,5.281
			h-25.324c-2.9,0-5.284-2.376-5.284-5.281V255.665z M146.744,309.473c0-2.903,2.383-5.276,5.284-5.276h25.324
			c2.9,0,5.271,2.373,5.271,5.276v25.321c0,2.906-2.368,5.279-5.271,5.279h-25.324c-2.9,0-5.284-2.373-5.284-5.279V309.473z
			 M92.941,255.665c0-2.906,2.378-5.279,5.279-5.279h25.321c2.898,0,5.276,2.373,5.276,5.279v25.316
			c0,2.906-2.378,5.281-5.276,5.281H98.22c-2.901,0-5.279-2.376-5.279-5.281V255.665z M92.941,309.473
			c0-2.903,2.378-5.276,5.279-5.276h25.321c2.898,0,5.276,2.373,5.276,5.276v25.321c0,2.906-2.378,5.279-5.276,5.279H98.22
			c-2.901,0-5.279-2.373-5.279-5.279V309.473z M75.011,388.605c0,2.9-2.378,5.279-5.281,5.279H44.408
			c-2.901,0-5.271-2.378-5.271-5.279v-25.321c0-2.906,2.368-5.276,5.271-5.276h25.321c2.906,0,5.281,2.371,5.281,5.276V388.605z
			 M75.011,334.792c0,2.906-2.378,5.279-5.281,5.279H44.408c-2.901,0-5.271-2.373-5.271-5.279v-25.321
			c0-2.903,2.368-5.276,5.271-5.276h25.321c2.906,0,5.281,2.373,5.281,5.276V334.792z M75.011,280.98
			c0,2.906-2.378,5.281-5.281,5.281H44.408c-2.901,0-5.271-2.376-5.271-5.281v-25.316c0-2.906,2.368-5.279,5.271-5.279h25.321
			c2.906,0,5.281,2.373,5.281,5.279V280.98z M236.434,388.605c0,2.9-2.373,5.279-5.279,5.279H98.22
			c-2.901,0-5.279-2.378-5.279-5.279v-25.321c0-2.906,2.378-5.276,5.279-5.276h132.936c2.906,0,5.279,2.371,5.279,5.276V388.605z
			 M290.243,388.605c0,2.9-2.376,5.279-5.271,5.279h-25.326c-2.901,0-5.276-2.378-5.276-5.279v-25.321
			c0-2.906,2.373-5.276,5.276-5.276h25.326c2.895,0,5.271,2.371,5.271,5.276V388.605z M290.243,334.792
			c0,1.352-0.509,2.701-1.549,3.73c-1.024,1.034-2.373,1.546-3.72,1.546h-79.135c-1.357,0-2.703-0.512-3.73-1.546
			c-1.029-1.029-1.541-2.378-1.541-3.73v-25.321c0-1.347,0.512-2.701,1.541-3.73c1.027-1.029,2.373-1.546,3.73-1.546h48.532v-48.53
			c0-1.357,0.52-2.701,1.546-3.732c1.029-1.029,2.381-1.546,3.73-1.546h25.326c1.347,0,2.696,0.515,3.72,1.546
			c1.039,1.034,1.549,2.378,1.549,3.732V334.792z M365.256,388.605c0,2.9-2.381,5.279-5.279,5.279h-25.321
			c-2.911,0-5.276-2.378-5.276-5.279v-25.321c0-2.906,2.365-5.276,5.276-5.276h25.321c2.898,0,5.279,2.371,5.279,5.276V388.605z
			 M365.256,334.792c0,2.906-2.381,5.279-5.279,5.279h-25.321c-2.911,0-5.276-2.373-5.276-5.279v-25.321
			c0-2.903,2.365-5.276,5.276-5.276h25.321c2.898,0,5.279,2.373,5.279,5.276V334.792z M365.256,280.98
			c0,2.906-2.381,5.281-5.279,5.281h-25.321c-2.911,0-5.276-2.376-5.276-5.281v-25.316c0-2.906,2.365-5.279,5.276-5.279h25.321
			c2.898,0,5.279,2.373,5.279,5.279V280.98z M419.064,388.605c0,2.9-2.376,5.279-5.281,5.279h-25.321
			c-2.906,0-5.279-2.378-5.279-5.279v-25.321c0-2.906,2.373-5.276,5.279-5.276h25.321c2.906,0,5.281,2.371,5.281,5.276V388.605z
			 M419.064,334.792c0,2.906-2.376,5.279-5.281,5.279h-25.321c-2.906,0-5.279-2.373-5.279-5.279v-25.321
			c0-2.903,2.373-5.276,5.279-5.276h25.321c2.906,0,5.281,2.373,5.281,5.276V334.792z M419.064,280.98
			c0,2.906-2.376,5.281-5.281,5.281h-25.321c-2.906,0-5.279-2.376-5.279-5.281v-25.316c0-2.906,2.373-5.279,5.279-5.279h25.321
			c2.906,0,5.281,2.373,5.281,5.279V280.98z M472.868,388.605c0,2.9-2.368,5.279-5.271,5.279h-25.331
			c-2.89,0-5.271-2.378-5.271-5.279v-25.321c0-2.906,2.381-5.276,5.271-5.276h25.331c2.903,0,5.271,2.371,5.271,5.276V388.605z
			 M472.868,334.792c0,2.906-2.368,5.279-5.271,5.279h-25.331c-2.89,0-5.271-2.373-5.271-5.279v-25.321
			c0-2.903,2.381-5.276,5.271-5.276h25.331c2.903,0,5.271,2.373,5.271,5.276V334.792z M472.868,280.98
			c0,2.906-2.368,5.281-5.271,5.281h-25.331c-2.89,0-5.271-2.376-5.271-5.281v-25.316c0-2.906,2.381-5.279,5.271-5.279h25.331
			c2.903,0,5.271,2.373,5.271,5.279V280.98z"
        ></path>
      </g>
    </g>
  </svg>

  <div class="desc">...</div>
</div>

<script>
  import $ from "jquery";

  function navigate(prevNext, $categories) {
    const firstLast = prevNext === "next" ? "first" : "last";
    let $selected;
    let $next;

    if ($categories.is(":visible")) {
      $selected = $(".selected", $categories);

      if ($selected.length === 0) {
        $("> .category", $categories)[firstLast]().addClass("selected");
        return;
      }

      if ($selected.is(".category")) {
        $next = $selected[prevNext]();

        if ($next.is(".subcategory:visible")) {
          $next = $next.children(`.category:${firstLast}-child`);
        } else if ($next.is(".entries:visible")) {
          $next = $next.children(`li:${firstLast}-child`);
        } else {
          $next = $next[prevNext](); // prev/next .category because .subcategory is closed
        }
      }

      if ($selected.parent().is(".entries")) {
        $next = $selected[prevNext]();
      }

      if ($next.length === 0) {
        $next = $selected.parent()[prevNext](); // reached the end of the .subcategory or .entries, select prev/next .category
      }
    } else {
      const $results = $("#results");
      $selected = $(".selected", $results);
      $next = $selected[prevNext]();

      if ($selected.length === 0) {
        $(`li:${firstLast}-child`, $results).addClass("selected");
        return;
      }
    }

    $selected.removeClass("selected");
    $next.addClass("selected");
  }

  function navigateUp($categories) {
    navigate("prev", $categories);
  }

  function navigateDown($categories) {
    navigate("next", $categories);
  }

  function navigateEnter($categories) {
    let $selected;

    if ($categories.is(":visible")) {
      $selected = $(".selected", $categories);

      if ($selected.parent().is(".entries")) {
        $selected = $("a", $selected);
      }
    } else {
      $selected = $("#results .selected a");
    }

    $selected.click();
  }

  $(() => {
    const $input = $("#search input");
    const $categories = $("#categories");
    const $desc = $("#keyboard .desc");

    $input.on("keydown", (event) => {
      switch (event.keyCode) {
        case 38: // UP
          navigateUp($categories);
          event.preventDefault();
          break;

        case 40: // DOWN
          navigateDown($categories);
          event.preventDefault();
          break;

        case 13: // ENTER
          navigateEnter($categories);
          event.preventDefault();
          break;
      }
    });

    $("#keyboard svg").hover(
      () => {
        $desc.fadeIn(160);
      },
      () => {
        $desc.fadeOut(160);
      }
    );
  });
</script>

<style>
  div {
    position: relative;
  }

  svg {
    width: 25px;
    height: 25px;
    cursor: help;
  }

  svg path {
    fill: #888;
  }

  .desc {
    position: absolute;
    top: -2px;
    left: 36px;
    width: 300px;
    background: #e8e8e8;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-bottom-right-radius: 3px;
    padding: 8px;
    font-size: 0.9em;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    display: none;
  }
</style>
