---
const { categories } = await Astro.props;
---

<nav id="categories">
  {
    categories.map((category) => (
      <>
        <div class="category">{category.name}</div>
        <div>
          {category.categories.map((category) => (
            <div class="category sub-category">{category.name}</div>
            <div class="entries">
              {category.entries && category.entries.map(entry => {
                <div class="entry">{entry.name}</div>
              })}
              </div>
          ))}
        </div>
      </>
    ))
  }
</nav>

<script>
  import $ from "jquery";

  $(() => {
    window.onpopstate = (event) => {
      // on back button
      console.log(event);
    };

    $("#entriesAll a").click((event) => {
      const $a = $(event.target);
      const href = $a.attr("href");

      $("#content").load(`${href} #content`, () => {
        window.history.pushState({}, "", href);
        window.scrollTo(0, 0);
      });

      return false;
    });
  });
</script>

<style>
  .entry {
    display: block;
  }
</style>
