---
const { entries } = await Astro.props;
---

<nav id="entriesAll">
  {
    entries.map((entry) => (
      <a href={`/${entry.name}`} class="entry">
        {entry.name}
      </a>
    ))
  }
</nav>

<script>
  import $ from "jquery";

  $(() => {
    window.onpopstate = (event) => {
      // on back button
      console.log(event);
    };

    $("#entriesAll a").click((event) => {
      const $a = $(event.target);
      const href = $a.attr("href");

      $("#content").load(`${href} #content`, () => {
        window.history.pushState({}, "", href);
        window.scrollTo(0, 0);
      });

      return false;
    });
  });
</script>

<style>
  .entry {
    display: block;
  }
</style>
