#entry
  overflow-y: scroll
  overflow-x: auto
  height: 400px
  
  #entry-wrapper
    padding: 20px 30px

  #entry-header
    position: relative
    margin-bottom: 30px

    h1
      font-size: 3.2em
      margin-bottom: 16px

    p
      font-size: 1.6em
      font-family: "Bitstream Vera Serif", "Liberation Serif", Georgia, serif
      font-style: italic
      color: #777
      padding-right: 50px
      line-height: 20px

    #categories
      position: absolute
      top: 0
      right: 0
      color: #999
      font-size: 1.2em
      line-height: 18px
      display: none //introduce it when linking cats is working

  #entries
    li.entry
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
      margin-bottom: 16px

      .longdesc
        padding: 30px

        h4
          font-size: 2em
          margin: 12px 0 18px 0

        p
          margin-bottom: 18px
          line-height: 21px
          font-size: 1.4em

        p:last-child
          margin-bottom: 0

        code
          font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
          padding: 1px 2px
          font-size: 0.92em

        pre
          background: #444
          -moz-box-shadow: none
          -webkit-box-shadow: none
          box-shadow: none
          margin-bottom: 18px

      .examples
        li.example
          .code
            width: 50%
            float: left

          .sandbox
            width: 50%
            float: left
            background: #ddd

      ul.signatures
        li.signature
          h2
            background: #d4e4fc
            font-size: 1.6em
            padding: 10px 15px
            position: relative
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6)
            border-top: 1px solid #91baf7
            border-bottom: 1px solid #91baf7

            span.return
              color: #888

            span.version
              position: absolute
              top: 13px
              right: 15px
              font-size: 0.7em
              color: #777

          &:first-child
            h2
              border-top: none

          table.arguments
            width: 100%

            tr
              background: #edf3fe

              td
                font-size: 1.36em
                padding: 10px 15px
                border-bottom: 1px solid #eee
                line-height: 16px

                &.name
                  width: 200px

                &.type
                  width: 100px
                  color: #888

            tr:nth-child(even)
              background: #e5edf9