#entry
  overflow-y: scroll
  overflow-x: auto
  height: 400px

  &.loading
    background: url('loader.gif') no-repeat center center

  #entry-wrapper
    padding: 20px 30px

  #entry-header
    position: relative
    margin-bottom: 30px

    h1
      font-size: 3.2em
      margin-bottom: 16px

    p
      font-size: 1.6em
      font-family: "Bitstream Vera Serif", "Liberation Serif", Georgia, serif
      font-style: italic
      color: #777
      padding-right: 50px
      line-height: 20px

    a
      position: absolute
      top: -10px
      right: 0
      text-decoration: none
      color: #777

      &:hover
        text-decoration: underline
        color: #555


    #categories
      position: absolute
      top: 0
      right: 0
      color: #999
      font-size: 1.2em
      line-height: 18px
      display: none //introduce it when linking cats is working

  #entries
    li.entry
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
      margin-bottom: 30px

      p
        margin-bottom: 18px
        line-height: 21px
        font-size: 1.4em

      .row
        .left, .right, .third
          float: left
          width: 50%

          p
            margin: 20px 15px

        .third
          width: 33%

      .longdesc
        padding: 30px

        h2, h4
          font-size: 2em
          margin: 12px 0 18px 0

        p:last-child
          margin-bottom: 0

        strong, b
          font-weight: bold

        em, i
          font-style: italic

        a
          color: red
          text-decoration: none

        a:visited
          text-decoration: underline

        a:hover
          text-decoration: none
          border-bottom: 2px solid red

        code
          font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
          padding: 1px 2px
          font-size: 0.92em

        blockquote
          ul
            font-size: 1.4em
            list-style: circle
            margin-bottom: 16px
            margin-left: 30px

            li
              margin-bottom: 3px

        abbr
          cursor: help
          border-bottom: 1px dotted black

        > ol, > ul
          margin: 0 0 18px 30px
          list-style: disc

          li
            line-height: 21px
            font-size: 1.38em
            margin: 5px 0

        > ol
          list-style: decimal

        pre
          background: #2b2b2b
          margin-bottom: 18px

        table
          font-size: 1.4em
          margin: 0 18px 18px 18px
          background: #eee

          tr
            border-bottom: 1px solid #ddd

            &:last-child
              border-bottom: none

            th, td
              padding: 7px 15px

      .examples
        li.example
          margin-top: 30px
          position: relative
          background: #2B2B2B

          .desc
            width: 100%
            //position: absolute

            p
              margin: 0
              background: #fff0aa
              text-align: center
              color: #333
              border-top: 2px solid #e0c962
              border-bottom: 2px solid #232323
              //box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3)
              font-size: 1.4em
              font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
              padding: 10px 20px
              text-shadow: 0 2px 0 #e0c962
              line-height: 20px

          .code
            width: 100%
            float: left
            background: #2B2B2B
            position: relative

            pre
              margin: 10px
              border: 2px dashed #232323
              border-radius: 4px

            .lang
              position: absolute
              top: 10px
              right: 10px
              background: #232323
              color: #ddd
              text-shadow: 1px 1px 0 black
              padding: 4px 10px

          .sandbox
            width: 100%
            float: left
            background: #2B2B2B
            position: relative

            .lang
              position: absolute
              top: 22px
              right: 6px
              background: #e0c962
              padding: 4px 10px
              color: #444

            .play
              background: #fff0aa
              margin: 10px 0 0 10px
              border-left: 2px solid #232323
              border-top: 2px solid #232323
              padding: 10px

              iframe
                width: 100%
                height: 100%
                border: 2px dashed #e0c962
                border-radius: 4px

      ul.signatures
        li.signature
          h2
            background: #d4e4fc
            font-size: 1.6em
            padding: 10px 15px
            position: relative
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6)
            border-top: 1px solid #91baf7
            border-bottom: 1px solid #91baf7

            span.return
              color: #888

            span.version
              position: absolute
              top: 13px
              right: 15px
              font-size: 0.7em
              color: #777

          &:first-child
            h2
              border-top: none

          table.arguments
            width: 100%
          
            tr
              background: #edf3fe

              td
                font-size: 1.36em
                padding: 10px 15px
                border-bottom: 1px solid #eee
                line-height: 16px

                &.name
                  width: 200px
                  
                  code
                    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
                    padding: 1px 2px
                    font-weight: normal

                &.type
                  width: 100px
                  color: #888

            tr:nth-child(even)
              background: #e5edf9

            tr.property
              
              font-size: 0.8em 

              a
                color: red
                text-decoration: none

                &:hover
                  text-decoration: underline
                  color: #555

              strong
                font-weight: bold
                
              code
                font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
                padding: 1px 2px
                font-weight: normal

              pre
                background: rgb(43,43,43)
              em
                font-style: italic

              td          
                padding-left: 30px
                background: rgb(214, 214, 214)

                .desc
                  box-shadow: 1px 1px 5px black
                  padding: 2px

                ul
                  padding: 5px

                  li
                    padding: 5px
                    &:nth-child(odd)
                      background: rgb(194, 194, 194)
                    &:nth-child(even)
                      background: rgb(174, 174, 174)

