html
  font-size: 16px
  
body
  font-size: 62.5%
  font-family: "Helvetica Neue", Arial, sans-serif
  color: #333
  background: white
  overflow: hidden

.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0

#donors
  ul
    list-style: none
    margin: 0 15px 15px 15px
    font-size: 1.28em
    line-height: 18px

    li
      display: inline

      &.donor
        display: none

      &.all
        display: block

        a
          color: red
          font-size: 0.9em
          text-decoration: none

          &:hover
            text-decoration: underline

      a
        color: black
        text-decoration: underline

        &:hover
          color: red

      &:after
        content: ", "

      &:last-child:after
        content: ""