html,
body,
#container,
#sidebar,
#content {
  height: 100%;
  margin: 0;
}

#container {
  position: relative;
}

#sidebar {
  width: 20%;
  overflow: auto;
  position: relative;
}

#sidebar #search {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  z-index: 2;
}

#categories,
#results {
  margin-top: 36px;
}

#content {
  vertical-align: top;
  width: 80%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 20%;
}
