html,
body,
#container,
#sidebar,
#content {
  height: 100%;
  margin: 0;
}

#container {
  position: relative;
}

#sidebar {
  width: 20%;
  position: relative;
  z-index: 1;
}

#search {
  max-height: 36px;
}

#categories,
#results {
  height: calc(100% - 36px);
  overflow: scroll;
}

#content {
  vertical-align: top;
  width: 80%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 20%;
}

/* the following styles fix glitches caused by Bulma's .content */
#entry-content pre .tag,
#entry-content pre .number {
  background: none;
  font-size: 1em;
  padding: 0;
  margin: 0;
  height: 1em;
  min-width: auto;
  vertical-align: baseline;
}

#entry-content pre .attr-name {
  padding-left: 0.6em;
}

#signatures {
  margin-bottom: 48px;
}

#signatures .title .type {
  display: none;
}

#signatures .title .return {
  color: #888;
  display: inline-block;
  padding-left: 6px;
  font-size: 0.8em;
}

#signatures code .type {
  color: #888;
}

#signatures code .type::before {
  content: ":";
}

.language-css .token.property {
  color: #d19a66 !important;
}
