---
import "bulma";
import Navigation from "../components/Navigation/Navigation.astro";
import categories from "../../categories-generated.json";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jQAPI</title>
  </head>

  <body>
    <div class="columns is-mobile">
      <div class="column is-4">
        <Navigation {categories} />
      </div>

      <div id="content" class="column">
        <slot />
      </div>
    </div>
  </body>
</html>
