---
import Search from "../components/Search.astro";
import Categories from "../components/Categories.astro";
import categories from "../../categories-generated.json";
import "bulma";
import "./layout.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>jQAPI</title>
  </head>

  <body>
    <div id="container">
      <div id="sidebar">
        <Search />
        <Categories {categories} />
      </div>

      <div id="content">
        <slot />
      </div>
    </div>
  </body>
</html>
