!!! 5
%html
  %head
    %title jQAPI - Alternative jQuery Documentation Browser

    %meta{:name => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => "Alternative jQuery Documentation Browser"}

    %link{:rel => "shortcut icon", :href => "assets/favicon.ico", :type => "image/x-icon"}
    %link{:rel => "icon", :href => "/favicon.ico", :type => "image/x-icon"}

    %link{:href  => 'assets/bundle.css', :type => 'text/css', :rel => 'stylesheet'}
    %script{:src => 'assets/bundle.js',  :type => 'text/javascript'}

  %body
    #sidebar
      #search
        %input#search-field{:type => 'search', :placeholder => 'Search', :autocomplete => 'off', :autosave => 'searchdoc',  :results => '0', :autofocus => 'autofocus'}

      #sidebar-content
        %ul#categories
          %li.loader Loading...

        %ul#results.entries
          %li.not-found Nothing found.

    #content
      #header
        %ul#signatures-nav
          %li
            %a{:href => '#about'}
              %span What is this about?
          %li
            %a{:href => '#usage'}
              %span Usage
          %li
            %a{:href => '#download'}
              %span Download
          %li
            %a{:href => '#credits'}
              %span Credits
          %li
            %a{:href => '#license'}
              %span License
          %li
            %a{:href => '#changelog'}
              %span Changelog

        %ul#navigation
          %li
            %a{:href => '/'}
              %span Home

      #entry
        #entry-wrapper
          #entry-header
            %h1 jQAPI - Alternative jQuery Documentation Browser
            %p The faster way to browse the jQuery documentation.

          %ul#entries
            %li.entry
              %ul.signatures
                %li.signature
                  %h2.title What is this about?

                  .row.clearfix
                    .left#intro
                      %p
                        This is a alternative interface to browse the
                        %a{:href => 'http://api.jquery.com'} Official jQuery Documentation
                        that can be found on
                        %a{:href => 'https://github.com/jquery/api.jquery.com'} GitHub
                        \.

                      %p
                        The aim of this project is to get out of the way of your development work.
                        Quickly switch to this docs and find what you are looking for.

                      %p
                        Furthermore you can download this documentation and browse it offline.
                        In the future you don't even need to download it to have it available
                        offline.

                      %p
                        This
                        %a{:href => 'https://github.com/jqapi/jqapi'} Open-Source
                        project is still under development. If you are having trouble with it
                        you can still use the
                        %a{:href => 'http://old.jqapi.com'} old jQAPI
                        \.

                    .right#donors
                      #sponsor
                        %span Sponsored by
                        %a{:href => 'http://hashrocket.com'} Hashrocket

                      %p
                        This project was made possible through crowdfunding.
                        A special thanks to our sponsor and these great folks:

                      %ul
                        %li
                          %a{:href => 'http://cubixcloud.com'} Joseph Huckaby
                        %li
                          %a{:href => 'http://glasspear.ca'} Rory Craig-Barnes
                        %li
                          %a{:href => 'http://maxmo.net'} Nathan Perkins
                        %li
                          %a{:href => 'http://tobias-otte.de'} Tobias Otte
                        %li
                          %a{:href => 'http://www.tl-dr.org'} Alan Faubert
                        %li
                          %a{:href => 'http://alexkulikov.com'} Alex Kulikov
                        %li
                          %a{:href => 'http://danawoodman.com'} Dana Woodman
                        %li
                          %a{:href => 'http://corbacho.info'} David Corbacho Roman
                        %li
                          %a{:href => 'http://edibleexperiences.com'} Amir Shamsuddin
                        %li
                          %a{:href => 'http://joshpangell.com'} Josh Pangell
                        %li Andrew Hahn
                        %li Yoren Chang
                        %li codeworxx
                        %li.donor Steven Olsen
                        %li.donor Brock Adams
                        %li.donor Simen Svale Skogsrud
                        %li.donor Mironov Mikhail
                        %li.donor Geoffrey Doret
                        %li.donor Johan Hermansson
                        %li.donor Tim Osborn

            %li.entry
              %ul.signatures
                %li.signature
                  %h2.title Usage

                  .row.clearfix
                    .left
                      %p
                        Keyboard shortcuts are available when the search box has focus. ESC key is global.

                      %ul#keys
                        %li
                          %span ESC
                          Set search box focus / Clear search box
                        %li
                          %span UP
                          Previous category / Previous entry
                        %li
                          %span DOWN
                          Next category / Next entry
                        %li
                          %span ENTER
                          Open category / Load selected entry

                    .right
                      %p
                        Please note that the keyboard navigation is
                        still buggy when in category mode.
                        But you should have no problem
                        to search for entries and navigate to them
                        in a fast manner.
                      %p
                        I am working on it.

            %li.entry
              %ul.signatures
                %li.signature#download
                  %h2.title Download

                  .row.clearfix
                    .third#zip
                      %a{:href => '/jqapi.zip'} Download as Zip Archive
                    .third#air
                      %a{:href => '#'} Download as AIR App (coming soon)
                    .third#git
                      %a{:href => 'https://github.com/jqapi/jqapi#generate-the-documentation'} Git Clone &amp; generate it yourself

            %li.entry
              %ul.signatures
                %li.signature
                  %h2.title Credits

                  %ul#credits
                    %li
                      %a{:href => 'http://jquery.com'} jQuery
                    %li
                      %a{:href => 'http://api.jquery.com/'} Official Documentation
                    %li
                      %a{:href => 'http://railsapi.com'} Rails API
                    %li
                      %a{:href => 'http://benalman.com/projects/jquery-bbq-plugin/'} BBQ Plugin
                    %li
                      %a{:href => 'http://benalman.com/projects/jquery-dotimeout-plugin/'} doTimeout Plugin
                    %li
                      %a{:href => 'http://johannburkard.de/blog/programming/javascript/highlight-javascript-text-higlighting-jquery-plugin.html'} Highlight Plugin
                    %li
                      %a{:href => 'http://www.steamdev.com/snippet/'} Snippet Plugin
                    %li
                      %a{:href => 'https://github.com/versal/sandbox-js'} Sandbox Plugin
                    %li
                      %a{:href => 'http://coffeescript.org/'} CoffeeScript
                    %li
                      %a{:href => 'http://www.sinatrarb.com/'} Sinatra
                    %li
                      %a{:href => 'https://github.com/wycats/thor'} Thor
                    %li
                      %a{:href => 'http://sass-lang.com/'} Sass
                    %li
                      %a{:href => 'http://haml.info/'} Haml
                    %li
                      %a{:href => 'https://github.com/sstephenson/sprockets'} Sprockets
                    %li
                      %a{:href => 'http://adamwhitcroft.com/batch/'} Batch Icons
                    %li
                      %a{:href => 'http://benalman.com/'} Ben Alman
                    %li
                      %a{:href => 'http://www.erikzaadi.com/'} Erik Zaadi
                    %li
                      %a{:href => 'https://twitter.com/egukin'} Arnold Sakhnov
                    %li
                      %a{:href => 'https://github.com/Klortho'} Chris Maloney
                    %li
                      %a{:href => 'http://yayquery.com/'} yayQuery
                    %li
                      %a{:href => 'http://technikwuerze.de/podcast/technikwuerze163/'} Technikw&uuml;rze
                    %li
                      %a{:href => 'http://mediatemple.net/'} Media Temple
                    %li to be continued...


            %li.entry
              %ul.signatures
                %li.signature
                  %h2.title License

                  #license
                    %div
                      %a{:href => 'http://jquery.com'} jQuery
                      and its documentation is licensed under the
                      %a{:href => 'http://jquery.org/license/'} MIT &amp; GPL licenses
                      \. jQAPI is
                      %a{:href => 'https://github.com/jqapi/jqapi'}Open-Source
                      and running under the same
                      %a{:href => 'LICENSE'} licenses
                      \.
                    %div
                      jQAPI is coded by
                      %a{:href => 'http://mustardamus.com'} Sebastian Senf
                      \. Follow me
                      %a{:href => 'http://twitter.com/mustardamus'} @mustardamus
                      \.

            %li.entry
              %ul.signatures
                %li.signature#changelog
                  %h2.title Changelog

                  %ul
                    %li
                      %span [2013-01-21]
                      Don't set focus on search field on mobile devices if pointer is over the sidebar.
                    %li
                      %span [2013-01-18]
                      Find best matching entry on search, and put it on first position.
                    %li
                      %span [2013-01-15]
                      Relative paths so you can store the offline jQAPI in a subfolder. (By
                      %a{:href => 'https://github.com/jqapi/jqapi/commit/dadfba870fb9f165862ca3afbc682d4b4721c2a4'} Klortho
                      )
                    %li
                      %span [2013-01-10]
                      Released the revamped and better jQAPI.
                    %li
                      %span [2011-xx-xx]
                      Documentation updating and some bug fixing.
                    %li
                      %span [2010-03-10]
                      Major code refactoring.
                    %li
                      %span [2010-01-31]
                      Complete rewrite for the masses.
                    %li
                      %span [2010-01-29]
                      Released very first version.

                  %a#follow{:href => 'http://twitter.com/jqapi'} Follow @jqapi for updates

  :javascript
    if(window.location.hostname === 'jqapi.com') {
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12732447-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }