!!! 5
%html
  %head
    %title jQAPI - Alternative jQuery Documentation Browser

    %meta{:name => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => "Alternative jQuery Documentation Browser"}
    
    %link{:href  => '/assets/bundle.css', :type => 'text/css', :rel => 'stylesheet'}
    %script{:src => '/assets/bundle.js',  :type => 'text/javascript'}
  
  %body
    #sidebar
      #search
        %input#search-field{:type => 'search', :placeholder => 'Search', :autocomplete => 'off', :autosave => 'searchdoc',  :results => '0', :autofocus => 'autofocus'}

      #sidebar-content
        %ul#categories
          %li.loader Loading...

        %ul#results.entries
          %li.not-found Nothing found.

    #content
      #header
        %ul#signatures-nav
          %li
            %a{:href => '#u8'}
              %span What is this?
          %li
            %a{:href => '#u8'}
              %span Why another docs browser?
          %li
            %a{:href => '#u8'}
              %span Usage
          %li
            %a{:href => '#u8'}
              %span Download
          %li
            %a{:href => '#u8'}
              %span Donors
        
        %ul#navigation
          %li
            %a{:href => '#u8'}
              %span Home

      #entry
        %h1
          jQAPI - Alternative jQuery Documentation Browser