!!! 5
%html
  %head
    %title jQAPI - Alternative jQuery Documentation Browser

    %meta{:name => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => "Alternative jQuery Documentation Browser"}
    
    %link{:href  => '/assets/bundle.css', :type => 'text/css', :rel => 'stylesheet'}
    %script{:src => '/assets/bundle.js',  :type => 'text/javascript'}
  
  %body
    #sidebar
      #search
        %input#search-field{:type => 'search', :placeholder => 'Search', :autocomplete => 'off', :autosave => 'searchdoc',  :results => '0', :autofocus => 'autofocus'}

      #sidebar-content
        %ul#categories
          %li.loader Loading...

        %ul#results.entries
          %li.not-found Nothing found.

    #content
      #header
        %ul#signatures-nav
          %li
            %a{:href => '#why'}
              %span Why another documentation browser?
          %li
            %a{:href => '#donors'}
              %span Donors
          %li
            %a{:href => '#usage'}
              %span Usage
          %li
            %a{:href => '#download'}
              %span Download
          %li
            %a{:href => '#license'}
              %span License
        
        %ul#navigation
          %li
            %a{:href => '/'}
              %span Home

      #entry
        #entry-wrapper
          #entry-header
            %h1 jQAPI - Alternative jQuery Documentation Browser
            %p The faster way to browse the jQuery documentation.

          %ul#entries
            %li.entry
              %ul.signatures
                %li.signature
                  %h2 Why another documentation browser?

                  .row.clearfix
                    .left
                      %p This is a browser for the official documentation
                    .right
                      %p Because it needs to get out of the way.

                %li.signature
                  %h2 Donors

            %li.entry
              %ul.signatures
                %li.signature
                  %h2
                    Usage
                  
                  .row.clearfix
                    .third
                      %p Keyboard
                    .third
                      %p Navigation
                    .third
                      %p etc.

            %li.entry
              %ul.signatures
                %li.signature
                  %h2
                    Download
                  
                  .longdesc
                    %p
                      git clone, zip

            %li.entry
              %ul.signatures
                %li.signature
                  %h2
                    License
                  
                  .longdesc
                    %p
                      Same as jQuery