!!! 5
%html
  %head
    %title jQAPI - Alternative jQuery Documentation Browser
    
    %link{:href  => '/assets/bundle.css', :type => 'text/css', :rel => 'stylesheet'}
    %script{:src => '/assets/bundle.js',  :type => 'text/javascript'}
  
  %body
    #sidebar
      #search
        %input#search-field{:type => 'search', :placeholder => 'Search', :autocomplete => 'off', :autosave => 'searchdoc',  :results => '0', :autofocus => 'autofocus'}
    
      %ul#navigation
        %li.loader Loading...