!!! 5
%html
  %head
    %title jQAPI - Alternative jQuery Documentation Browser

    %meta{:name => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => "Alternative jQuery Documentation Browser"}
    
    %link{:href  => '/assets/bundle.css', :type => 'text/css', :rel => 'stylesheet'}
    %script{:src => '/assets/bundle.js',  :type => 'text/javascript'}
  
  %body
    #sidebar
      #search
        %input#search-field{:type => 'search', :placeholder => 'Search', :autocomplete => 'off', :autosave => 'searchdoc',  :results => '0', :autofocus => 'autofocus'}

      #sidebar-content
        %ul#categories
          %li.loader Loading...

        %ul#results.entries
          %li.not-found Nothing found.

    #content
      #header
        %ul#signatures-nav
          %li
            %a{:href => '#why'}
              %span Why another documentation browser?
          %li
            %a{:href => '#donors'}
              %span Donors
          %li
            %a{:href => '#Usage'}
              %span Usage
          %li
            %a{:href => '#download'}
              %span Download
          %li
            %a{:href => '#license'}
              %span License
        
        %ul#navigation
          %li
            %a{:href => '/'}
              %span Home

      #entry
        #entry-wrapper
          #entry-header
            %h1 jQAPI - Alternative jQuery Documentation Browser
            %p The faster way to browse the jQuery documentation.

          %ul#entries
            %li.entry
              %ul.signatures
                %li.signature
                  %h2 Why another documentation browser?

                  .row.clearfix
                    .left
                      %p This is a browser for the official documentation
                    .right#donors
                      #sponsor
                        %span Sponsored by
                        %a{:href => 'http://hashrocket.com'} Hashrocket

                      %p
                        This project was made possible through crowdfunding.
                        A special thanks to our sponsor and these great folks:

                      %ul
                        %li
                          %a{:href => 'http://cubixcloud.com'} Joseph Huckaby
                        %li
                          %a{:href => 'http://glasspear.ca'} Rory Craig-Barnes
                        %li
                          %a{:href => 'http://maxmo.net'} Nathan Perkins
                        %li
                          %a{:href => 'http://tobias-otte.de'} Tobias Otte
                        %li
                          %a{:href => 'http://www.tl-dr.org'} Alan Faubert
                        %li
                          %a{:href => 'http://alexkulikov.com'} Alex Kulikov
                        %li
                          %a{:href => 'http://danawoodman.com'} Dana Woodman
                        %li
                          %a{:href => 'http://corbacho.info'} Bonifacio Corbacho Roman
                        %li
                          %a{:href => 'http://edibleexperiences.com'} Amir Shamsuddin
                        %li
                          %a{:href => 'http://joshpangell.com'} Josh Pangell
                        %li Andrew Hahn
                        %li Yoren Chang
                        %li codeworxx
                        %li.donor Steven Olsen
                        %li.donor Brock Adams
                        %li.donor Simen Svale Skogsrud
                        %li.donor Mironov Mikhail
                        %li.donor Geoffrey Doret
                        %li.donor Johan Hermansson
                        %li.donor Tim Osborn

            %li.entry
              %ul.signatures
                %li.signature
                  %h2.title
                    Usage
                  
                  .row.clearfix
                    .third
                      %p Keyboard
                    .third
                      %p Navigation
                    .third
                      %p etc.

            %li.entry
              %ul.signatures
                %li.signature
                  %h2
                    Download
                  
                  .longdesc
                    %p
                      git clone, zip

            %li.entry
              %ul.signatures
                %li.signature
                  %h2
                    License
                  
                  .longdesc
                    %p
                      Same as jQuery

                    %pre.changelog
                      = preserve do
                        [2012-xx-xx] Complete rewrite for the masses. Again.
                        [2012-xx-xx] Crowfunding campaign successfully.
                        [2011-xx-xx] Documentation updating and some bug fixing.
                        [2010-03-10] Major code refactoring.
                        [2010-01-31] Complete rewrite for the masses.
                        [2010-01-29] Released very first verion. A quick hack.